FORMAT: 1A
HOST: http://www.google.com

# Internal API
Internal API is a document retrieval service

# Group CaseFile
CaseFile related resources of the **InternalApi API**

## InternalApi [/casefile/mismo/{?loanNumber,ausNumber,useInstitutionId}]
A single Document object with all its details
- Unique Identifier (id)
- Content (content)
- Date Created (createdDateTime)
- Attachment Description (AttachmentDesc)

### Retrieve a Note [GET]
+ Parameters
    + loanNumber (optional, string, `000012345`) ... String `loanNumber` of the Document to retrieve. Has example value.
    + ausNumber (optional, string, `54321`) ... String `ausNumber` of Document to retrieve. Has example value.
    + useInstitutionId (optional, string, `True`) ... Bool `useInstitutionId` indicating whether institution id should be used in request. Default is `true`.  Has example value.


+ Response 200 (application/json)

            {"ID":"STG_DOC_e96fb44e-c764-4243-be9b-5f45fbdbcf82","Content":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<LOAN_APPLICATION>\n  <_DATA_INFORMATION>\n    <DATA_VERSION _Name=\"Date\" _Number=\"20100512\"/>\n    <DATA_VERSION _Name=\"1003\" _Number=\"3.20\"/></_DATA_INFORMATION>\n  <ADDITIONAL_CASE_DATA>\n    <TRANSMITTAL_DATA BuydownRatePercent=\"0.000\" PropertyAppraisedValueAmount=\"375000.00\" CurrentFirstMortgageHolderType=\"Unknown\" InvestorLoanIdentifier=\"1955522809\" InvestorInstitutionIdentifier=\"6613\" LoanOriginationCompanyID=\"123456789111\" LoanOriginatorID=\"123456789012\"/></ADDITIONAL_CASE_DATA>\n  <ASSET _CashOrMarketValueAmount=\"87000.00\" _Type=\"SavingsAccount\" BorrowerID=\"Borr999405000\"/>\n  <ASSET _CashOrMarketValueAmount=\"120000.00\" _Type=\"SavingsAccount\" BorrowerID=\"Borr500222000\"/>\n  <ASSET _CashOrMarketValueAmount=\"3600.00\" _Type=\"CheckingAccount\" BorrowerID=\"Borr500222000\"/>\n  <GOVERNMENT_LOAN>\n    <FHA_VA_LOAN GovernmentMortgageCreditCertificateAmount=\"0.00\"/>\n    <VA_LOAN VABorrowerCoBorrowerMarriedIndicator=\"Y\" VAEntitlementAmount=\"36000.00\" VAMaintenanceExpenseMonthlyAmount=\"0.00\" VAUtilityExpenseMonthlyAmount=\"0.00\"/></GOVERNMENT_LOAN>\n  <GOVERNMENT_REPORTING/>\n  <INTERVIEWER_INFORMATION InterviewersEmployerStreetAddress=\"412 H St, NW\" InterviewersEmployerCity=\"Washington\" InterviewersEmployerState=\"DC\" InterviewersEmployerPostalCode=\"200121234\" InterviewersTelephoneNumber=\"2022222222\" ApplicationTakenMethodType=\"FaceToFace\" InterviewerApplicationSignedDate=\"20110901\" InterviewersEmployerName=\"ABC Mortgage\" InterviewersName=\"John Done\"/>\n  <LIABILITY _ID=\"Liab1\" BorrowerID=\"Borr999405000\" _AccountIdentifier=\"950254520\" _ExclusionIndicator=\"N\" _HolderName=\"SALLIE MAE\" _MonthlyPaymentAmount=\"0.00\" _PayoffStatusIndicator=\"N\" _RemainingTermMonths=\"0\" _Type=\"Installment\" _UnpaidBalanceAmount=\"5000.00\" SubjectLoanResubordinationIndicator=\"N\" FNMSubjectPropertyIndicator=\"N\" FNMRentalPropertyIndicator=\"N\"/>\n  <LIABILITY _ID=\"Liab2\" BorrowerID=\"Borr999405000\" _AccountIdentifier=\"950752340\" _ExclusionIndicator=\"N\" _HolderName=\"SALLIE MAE\" _MonthlyPaymentAmount=\"24.63\" _PayoffStatusIndicator=\"N\" _RemainingTermMonths=\"45\" _Type=\"Installment\" _UnpaidBalanceAmount=\"1100.00\" SubjectLoanResubordinationIndicator=\"N\" FNMSubjectPropertyIndicator=\"N\" FNMRentalPropertyIndicator=\"N\"/>\n  <LIABILITY _ID=\"Liab3\" BorrowerID=\"Borr999405000\" _AccountIdentifier=\"58652333\" _ExclusionIndicator=\"N\" _HolderName=\"CHASE\" _MonthlyPaymentAmount=\"257.44\" _PayoffStatusIndicator=\"N\" _RemainingTermMonths=\"20\" _Type=\"Installment\" _UnpaidBalanceAmount=\"5000.00\" SubjectLoanResubordinationIndicator=\"N\" FNMSubjectPropertyIndicator=\"N\" FNMRentalPropertyIndicator=\"N\"/>\n  <LIABILITY _ID=\"Liab4\" BorrowerID=\"Borr999405000\" _AccountIdentifier=\"3210989098\" _ExclusionIndicator=\"N\" _HolderName=\"TOYOTA CREDIT\" _MonthlyPaymentAmount=\"500.03\" _PayoffStatusIndicator=\"N\" _RemainingTermMonths=\"32\" _Type=\"Installment\" _UnpaidBalanceAmount=\"15838.00\" SubjectLoanResubordinationIndicator=\"N\" FNMSubjectPropertyIndicator=\"N\" FNMRentalPropertyIndicator=\"N\"/>\n  <LIABILITY _ID=\"Liab5\" BorrowerID=\"Borr999405000\" _AccountIdentifier=\"6011785239\" _ExclusionIndicator=\"N\" _HolderName=\"UNIVERSAL VISA\" _MonthlyPaymentAmount=\"25.00\" _PayoffStatusIndicator=\"N\" _RemainingTermMonths=\"38\" _Type=\"Revolving\" _UnpaidBalanceAmount=\"950.00\" SubjectLoanResubordinationIndicator=\"N\" FNMSubjectPropertyIndicator=\"N\" FNMRentalPropertyIndicator=\"N\"/>\n  <LOAN_PRODUCT_DATA>\n    <LOAN_FEATURES EscrowWaiverIndicator=\"N\" GSEProjectClassificationType=\"GNotInaProjectOrDevelopment\" GSEPropertyType=\"Detached\" LienPriorityType=\"FirstLien\" LoanRepaymentType=\"NoNegativeAmortization\" PaymentFrequencyType=\"Monthly\"/>\n    <PAYMENT_ADJUSTMENT/>\n    <RATE_ADJUSTMENT/></LOAN_PRODUCT_DATA>\n  <LOAN_PURPOSE _Type=\"Purchase\" PropertyRightsType=\"FeeSimple\" PropertyUsageType=\"PrimaryResidence\">\n    <CONSTRUCTION_REFINANCE_DATA ConstructionImprovementCostsAmount=\"0.00\" RefinanceImprovementCostsAmount=\"0.00\" RefinanceImprovementsType=\"Unknown\"/></LOAN_PURPOSE>\n  <LOAN_QUALIFICATION AdditionalBorrowerAssetsNotConsideredIndicator=\"N\" AdditionalBorrowerAssetsConsideredIndicator=\"N\"/>\n  <MORTGAGE_TERMS BaseLoanAmount=\"250000.00\" LenderCaseIdentifier=\"BTC-VA1\" LoanAmortizationTermMonths=\"360\" LoanAmortizationType=\"Fixed\" MortgageType=\"VA\" RequestedInterestRatePercent=\"5.250\"/>\n  <PROPERTY _StreetAddress=\"1234 Place\" _City=\"Pensacola\" _State=\"FL\" _PostalCode=\"32506\" _FinancedNumberOfUnits=\"1\">\n    <_LEGAL_DESCRIPTION _Type=\"Other\"/>\n    <PARSED_STREET_ADDRESS _HouseNumber=\"1234\" _StreetName=\"Place\"/>\n    <_VALUATION>\n      <APPRAISER _Name=\"Sam Appraiser\" _CompanyName=\"Appraisers Inc\" _LicenseIdentifier=\"123456789111111\" _LicenseState=\"DC\" _SupervisoryAppraiserLicenseNumber=\"123456789abcdefghijkl\"/></_VALUATION></PROPERTY>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"FirstMortgagePrincipalAndInterest\" _PaymentAmount=\"1401.22\"/>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"OtherMortgageLoanPrincipalAndInterest\"/>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"HazardInsurance\" _PaymentAmount=\"150.00\"/>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"RealEstateTax\" _PaymentAmount=\"375.00\"/>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"MI\"/>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"HomeownersAssociationDuesAndCondominiumFees\"/>\n  <PROPOSED_HOUSING_EXPENSE HousingExpenseType=\"OtherHousingExpense\"/>\n  <TRANSACTION_DETAIL AlterationsImprovementsAndRepairsAmount=\"0.00\" BorrowerPaidDiscountPointsTotalAmount=\"0.00\" EstimatedClosingCostsAmount=\"8900.00\" MIAndFundingFeeFinancedAmount=\"3750.00\" MIAndFundingFeeTotalAmount=\"3750.00\" PrepaidItemsEstimatedAmount=\"1800.00\" PurchasePriceAmount=\"375000.00\" RefinanceIncludingDebtsToBePaidOffAmount=\"0.00\" SalesConcessionAmount=\"0.00\" SellerPaidClosingCostsAmount=\"0.00\" SubordinateLienAmount=\"0.00\" FNMCostOfLandAcquiredSeparatelyAmount=\"0.00\">\n    <PURCHASE_CREDIT _Amount=\"368.00\" _SourceType=\"BorrowerPaidOutsideClosing\"/></TRANSACTION_DETAIL>\n  <BORROWER BorrowerID=\"Borr999405000\" JointAssetBorrowerID=\"Borr500222000\" _FirstName=\"John\" _LastName=\"Homeowner\" _BirthDate=\"19600101\" _PrintPositionType=\"Borrower\" _SSN=\"999405000\" DependentCount=\"0\" JointAssetLiabilityReportingType=\"Jointly\" MaritalStatusType=\"Married\">\n    <_RESIDENCE _StreetAddress=\"175 13th St\" _City=\"washington\" _State=\"DC\" _PostalCode=\"20013\" BorrowerResidencyBasisType=\"Rent\" BorrowerResidencyDurationMonths=\"0\" BorrowerResidencyDurationYears=\"6\" BorrowerResidencyType=\"Current\"/>\n    <CURRENT_INCOME IncomeType=\"Base\" _MonthlyTotalAmount=\"12500.00\"/>\n    <CURRENT_INCOME IncomeType=\"NetRentalIncome\" _MonthlyTotalAmount=\"0.00\"/>\n    <DECLARATION AlimonyChildSupportObligationIndicator=\"N\" BankruptcyIndicator=\"N\" BorrowedDownPaymentIndicator=\"N\" CitizenshipResidencyType=\"USCitizen\" CoMakerEndorserOfNoteIndicator=\"N\" HomeownerPastThreeYearsType=\"No\" IntentToOccupyType=\"Yes\" LoanForeclosureOrJudgementIndicator=\"N\" OutstandingJudgementsIndicator=\"N\" PartyToLawsuitIndicator=\"N\" PresentlyDelinquentIndicator=\"N\" PropertyForeclosedPastSevenYearsIndicator=\"N\"/>\n    <EMPLOYER _Name=\"Army\" CurrentEmploymentMonthsOnJob=\"6\" CurrentEmploymentTimeInLineOfWorkYears=\"26\" CurrentEmploymentYearsOnJob=\"25\" EmploymentBorrowerSelfEmployedIndicator=\"N\" EmploymentCurrentIndicator=\"Y\" EmploymentPrimaryIndicator=\"Y\"/>\n    <FHA_VA_BORROWER FNMBankruptcyCount=\"0\" FNMBorrowerCreditRating=\"0\" FNMForeclosureCount=\"0\"/>\n    <GOVERNMENT_MONITORING RaceNationalOriginRefusalIndicator=\"Y\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"Rent\" _PaymentAmount=\"3200.00\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"FirstMortgagePrincipalAndInterest\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"OtherMortgageLoanPrincipalAndInterest\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"HazardInsurance\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"RealEstateTax\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"MI\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"HomeownersAssociationDuesAndCondominiumFees\"/>\n    <PRESENT_HOUSING_EXPENSE HousingExpenseType=\"OtherHousingExpense\"/>\n    <SUMMARY _Amount=\"0.00\" _AmountType=\"UndrawnHELOC\"/>\n    <SUMMARY _Amount=\"0.00\" _AmountType=\"IPCsExcessFinancingConcessionsOrSalesConcessionsAmount\"/>\n    <VA_BORROWER VACoBorrowerNonTaxableIncomeAmount=\"0.00\" VACoBorrowerTaxableIncomeAmount=\"0.00\" VAFederalTaxAmount=\"2500.00\" VALocalTaxAmount=\"0.00\" VAPrimaryBorrowerNonTaxableIncomeAmount=\"0.00\" VAPrimaryBorrowerTaxableIncomeAmount=\"0.00\" VASocialSecurityTaxAmount=\"0.00\" VAStateTaxAmount=\"0.00\"/></BORROWER>\n  <BORROWER BorrowerID=\"Borr500222000\" JointAssetBorrowerID=\"Borr999405000\" _FirstName=\"Mary\" _LastName=\"Homeowner\" _BirthDate=\"19610202\" _PrintPositionType=\"CoBorrower\" _SSN=\"500222000\" DependentCount=\"0\" JointAssetLiabilityReportingType=\"Jointly\" MaritalStatusType=\"Married\">\n    <_RESIDENCE _StreetAddress=\"175 13th st\" _City=\"washington\" _State=\"DC\" _PostalCode=\"20013\" BorrowerResidencyBasisType=\"Rent\" BorrowerResidencyDurationMonths=\"0\" BorrowerResidencyDurationYears=\"6\" BorrowerResidencyType=\"Current\"/>\n    <CURRENT_INCOME IncomeType=\"Base\" _MonthlyTotalAmount=\"13000.00\"/>\n    <CURRENT_INCOME IncomeType=\"NetRentalIncome\" _MonthlyTotalAmount=\"0.00\"/>\n    <DECLARATION AlimonyChildSupportObligationIndicator=\"N\" BankruptcyIndicator=\"N\" BorrowedDownPaymentIndicator=\"N\" CitizenshipResidencyType=\"USCitizen\" CoMakerEndorserOfNoteIndicator=\"N\" HomeownerPastThreeYearsType=\"No\" IntentToOccupyType=\"Yes\" LoanForeclosureOrJudgementIndicator=\"N\" OutstandingJudgementsIndicator=\"N\" PartyToLawsuitIndicator=\"N\" PresentlyDelinquentIndicator=\"N\" PropertyForeclosedPastSevenYearsIndicator=\"N\"/>\n    <EMPLOYER _Name=\"Navy\" CurrentEmploymentMonthsOnJob=\"0\" CurrentEmploymentTimeInLineOfWorkYears=\"26\" CurrentEmploymentYearsOnJob=\"26\" EmploymentBorrowerSelfEmployedIndicator=\"N\" EmploymentCurrentIndicator=\"Y\" EmploymentPrimaryIndicator=\"Y\"/>\n    <FHA_VA_BORROWER FNMBankruptcyCount=\"0\" FNMBorrowerCreditRating=\"0\" FNMForeclosureCount=\"0\"/>\n    <GOVERNMENT_MONITORING RaceNationalOriginRefusalIndicator=\"Y\"/>\n    <VA_BORROWER VACoBorrowerNonTaxableIncomeAmount=\"0.00\" VACoBorrowerTaxableIncomeAmount=\"0.00\" VAFederalTaxAmount=\"2700.00\" VALocalTaxAmount=\"0.00\" VAPrimaryBorrowerNonTaxableIncomeAmount=\"0.00\" VAPrimaryBorrowerTaxableIncomeAmount=\"0.00\" VASocialSecurityTaxAmount=\"0.00\" VAStateTaxAmount=\"0.00\"/></BORROWER></LOAN_APPLICATION>","CreatedDateTime":"7/9/2014 1:24:58 PM -04:00","AttachmentDesc":"Mismo Loan Application"}

+ Response 403 (application/json)

            {
                Message: --Fannie Mae Error Code--
            }
            
+ Response 404 (application/json)

            {
                Message: --Fannie Mae Error Code--
            }
            
+ Response 500 (application/json)

            {
                Message: --Fannie Mae Error Code--
            }
            
+ Response 503 (application/json)

            {
                Message: --Fannie Mae Error Code--
            }
